@use '../styles/typography';
.gallery{
    background-color: beige;
    padding-bottom: 2rem;
    padding-top: 2rem;
&-content{
    display: flex;
    padding-top: 2rem;
    justify-content: space-around;
}
&-image{
    width:30%;
}
&-title{
    display: flex;
    justify-content: center;
    font-family: "Avenir bold";
    font-size: 1.5rem;
    color:darkslateblue;
}
}