@use "../styles/typography" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.service {
  background-color: beige;
  &-title {
    font-size: 2rem;
    font-family: "Avenir bold";
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 3rem;
    height: 150px;
    color: darkslateblue;
  }
  &-content {
    display: flex;
  }
  &-subheader {
    display: flex;
    justify-content: center;
    font-family: "Avenir bold";
    font-size: 1.5rem;
  }
  &-text {
    font-family: "Avenir regular";
    margin-left: 32%;
    margin-right: 4rem;
    line-height: 22px;
  }
}
