@use "../styles/typography";
.login{
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 20rem;
    &__title{
        font-size: 4rem;
        font-family: "Avenir regular";
        display: flex;
        justify-content: center;
    }
    &__label{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    &__button{
        margin-top:3rem;
        height:80px; 
        background-color: transparent;
        border:1px solid gray;
        font-size: 2rem;
        border-radius: 25px;
    }
    &__input{
        height:50px;
    }
    &__description{
        height:150px;
    }
}