@use "../styles/typography" as *;
.welcome{
    &-text{
    font-family: "Avenir regular";
    line-height: 30px;
    font-size: 1.3rem;
    margin-left:20rem;
    margin-right:5rem;
}
&-button{
    margin-top: 6rem;
    margin-bottom: 3rem;
    background-color: transparent;
    border:1px solid rgb(26, 26, 27);
    border-radius: 20px;
    width:120px;
    height:40px;
    color:rgb(13, 13, 14);
    font-size: 1.3rem;
    justify-content: center;
    &-div{
        display: flex;
        justify-content: center;
    }
}
&-title{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
    color:darkslateblue;
}
}
.Group-div{
   
    // background-color: yellow;
    background-size: cover;
}
.grouper{
    display: flex;
}
.gallery-image{
    max-height: 20rem;
    margin-right:10rem;
}